:root {
  --blue-accent: rgb(102, 192, 217);
  --mist: rgba(109, 206, 187, 0.2);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #4b4f53;
  /* background-color: aquamarine; */
  flex-wrap: wrap;
  /* font-weight: bold; */
}

.header-box {
  /* position: relative; */
  /* margin: -4rem 0 1.5rem 0; */
  margin-left: -23px;
  margin-right: 1%;
  /* background-color: #6dcebb33; */
  border-radius: 2px;
  background-image: linear-gradient(
    var(--mist) 0%,
    rgba(82, 175, 156, 0.8) 100%
  );

  /* border-radius: 8px; */
  transition: all 0.5s ease-in-out;
}

header a {
  font-size: 25px;
  font-weight: bold;
}


nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 20px 0 10px 0; /* Add padding to the top and bottom, and remove padding from left and right */
  font-size: 20px;
  font-weight: bold;
}

nav li {
  margin: 0 20px; /* Add margin to the left and right */
  border-bottom: 2px solid #6dcebb33;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #4b4f53;
}

h1 {
  padding-left: 7%;
  padding-right: 0.5%;
  font-size: 50px;
}

h2 {
  padding-right: 10px;
}

section {
  display: flex;
}

/* .hero {
  height: 200px;
  background-image: url("../images/DSC_6167-scaled.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
} */

.hero {
  height: 200px;
  background-image: url("../images/952bc81c-1caf-48a1-b5f6-bace216d353e_Heromyndir_robert_wessman_minni+\(1\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}

.about-me div {
  display: flex;
  flex-wrap: wrap;
  flex: 4;
  padding-left: 9%;
  padding-right: 9%;
}
.about-me div p {
  /* padding: 10px; */
  margin: 8px;
  font-size: 20px;
}

.contact-me {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}

.contact-me ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  list-style: none;
  width: 77%;
}

.contact-me ul li {
  flex-grow: 1;
  text-align: center;
  /* margin: 0 130px; */
}

.contact-me ul li a {
  text-decoration: none;
  color: #000;
  font-size: 1.3rem;
  font-weight: bold;
  border-bottom: 2px solid #6dcebb33;
}

.work {
  justify-content: space-between;
  padding: 1%;
}

.picture-structure {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 77%;
  justify-content: center;
  /* box-sizing: border-box; */
}

#img-1 {
  width: 100%;
  max-width: 81%;
  min-height: 400px;
  flex-basis: 100%;
  background-image: url("../images/140296-scaled.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  }


#img-2 {
  background-image: url("../images/952bc81c-1caf-48a1-b5f6-bace216d353e_Heromyndir_robert_wessman_minni+\(1\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* flex-basis: 40%; */
  /* max-width: 600px;
  min-width: 600px; */
}

#img-3 {
  background-image: url("../images/07-gettyimages-1195458582_largestmountains.jpg");
  background-position: center;
  /* flex-basis: 40%; */
  /* max-width: 600px;
  min-width: 600px; */
}

#img-4 {
  background-image: url("../images/IMG_6560.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* flex-basis: 40%; */
}

#img-5 {
  background-image: url("../images/71d709648a71a8d455b4a8497d2f2041_e5fa2b47_1280.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

/* .grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .6s ease;
  -webkit-backface-visibility: hidden;
}

.grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
} */

.blur {
  filter: blur(1px);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
  -webkit-transition: all .3s ease;
}

.blur:hover {
  filter: none;
}

.side-border {
  border-right: 3px solid var(--mist);
  /* border-right: 3px solid rgb(102, 192, 217); */
  margin-right: 1.2rem;
  text-align: right;
  font-size: 50px;
  flex-basis: 20%;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode";
}

.flex-item {
  min-width: 250px;
  min-height: 250px;
  flex-basis: 40%;
  margin: .5rem;
  border: 2px solid #4b4f53;
}

.flex-item:hover {
  border-color: rgb(161, 199, 210);
  outline: 0;
  box-shadow: inset 0px 0px 8px var(--blue-accent), 0 0 15px var(--blue-accent)
}

.flex-item {
  position: relative;
}

/* .flex-item:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 40px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 1;
} */

.flex-item p {
  position: absolute;
  left: 0px;
  bottom: 10px;
  padding: 10px;
  background-color: rgba(109, 206, 187, 0.8);
  color: #fff;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}


@media screen and (max-width: 1080px) {
header {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

h1 {
  padding-left: 1%;
  padding-right: 1%;
}

.side-border{
  border-right: none;
  text-decoration: underline 5px solid #6dcebb33;
  margin-right: 0;
  margin-bottom: 1rem;
  flex-basis: 100%;
}

.about-me, .work, .contact-me {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}


.about-me div {
  flex: 1;
  margin-bottom: 1rem;
}

#img-1 {
  max-width: 79.7%;
}

.flex-item {
  flex-basis: 100%;
  max-width: 80%;
}
}

