:root {
  --blue-accent: rgb(102, 192, 217);
  --mist: rgba(109, 206, 187, 0.2);
  --underline-color: rgba(109, 206, 187, 0.2)
}



* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  background-color: #4b4f53;
  flex-wrap: wrap;
}

.header-box {
  margin-left: -23px;
  margin-right: 1%;
  border-radius: 2px;
  background-image: linear-gradient(
    var(--mist) 0%,
    rgba(82, 175, 156, 0.8) 100%
  );
  transition: all 0.5s ease-in-out;
}

header a {
  font-size: 25px;
  font-weight: bold;
}


nav ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 20px 0 10px 0; /* Add padding to the top and bottom, and remove padding from left and right */
  font-size: 20px;
  font-weight: bold;
}

nav li {
  color: #0e0e0f;
  margin: 0 15px; /* Add margin to the left and right */
  border-bottom: 2px solid var(--underline-color);
}

nav a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #0e0e0f;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #4b4f53;
}

h1 {
  padding-left: 7%;
  padding-right: 0.5%;
  font-size: 50px;
  color: #fff;
}

h2 {
  padding-right: 10px;
  font-weight: normal;
}

section {
  display: flex;
}

a {
  color: black;
  text-decoration: none;
}

.hero {
  height: 250px;
  background-image: url("../images/952bc81c-1caf-48a1-b5f6-bace216d353e_Heromyndir_robert_wessman_minni+\(1\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

.about-me {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
}

.about-me div {
  display: flex;
  flex-wrap: wrap;
  flex: 4;
  padding-left: 9%;
  padding-right: 9%;
}

.about-me div p {
  margin: 8px;
  font-size: 20px;
}

.contact-me {
  display: flex;
  flex-wrap: wrap;
  padding: 1%;
  margin-bottom: 50px;
}

.contact-me ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  list-style: none;
  width: 77%;
}

/* centers contact me info at the bottom of the page */
.contact-me ul li {
  flex-grow: 1;
  text-align: center;
}

/* design of contact me text/links at the bottom of the page */
.contact-me ul li a {
  text-decoration: none;
  color: #0e0e0f;
  font-size: 1.3rem;
  font-weight: bold;
  border-bottom: 2px solid #6dcebb33;
}

.work {
  justify-content: space-between;
  padding: 1%;
}

/* contains layout/structure of the five "work" images */
.picture-structure {
  display: flex;
  flex-wrap: wrap;
  flex: 0 0 77%;
  justify-content: center;
}

#img-1{
  width: 100%;
  max-width: 81%;
  min-height: 400px;
  flex-basis: 100%;
  background-image: url("../images/140296-scaled.jpg");
  background-repeat: no-repeat;
  background-position: bottom;
  }


#img-2 {
  background-image: url("../images/952bc81c-1caf-48a1-b5f6-bace216d353e_Heromyndir_robert_wessman_minni+\(1\).jpg");
  background-repeat: no-repeat;
  background-position: center;
}

#img-3 {
  background-image: url("../images/07-gettyimages-1195458582_largestmountains.jpg");
  background-position: center;
}

#img-4 {
  background-image: url("../images/IMG_6560.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#img-5 {
  background-image: url("../images/71d709648a71a8d455b4a8497d2f2041_e5fa2b47_1280.jpg");
  background-repeat: no-repeat;
  background-position: top;
}

/* Grayscale effect. Not sure if it's standard practice to keep code like this here but I'm just going to leave it. It was difficult to choose between the blur effect and this grayscale.

.grayscale {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  filter: gray;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .6s ease;
  -webkit-backface-visibility: hidden;
}

.grayscale:hover {
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'1 0 0 0 0, 0 1 0 0 0, 0 0 1 0 0, 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(0%);
} 

*/

/* adds blur effect to images */
.blur {
  filter: blur(2px);
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  -webkit-transition: all .3s ease;
}

/* removes blur when hovering over images */
.blur:hover {
  filter: none;
}

/* Contains/affects section texts "About Me, Work, Contact Me" */
.side-border {
  border-right: 3px solid var(--mist);
  margin-right: 1.2rem;
  text-align: right;
  font-size: 50px;
  flex-basis: 20%;
  color: #fff;
}

/* affects five work images */
.flex-item {
  position: relative;
  min-width: 250px;
  min-height: 250px;
  flex-basis: 40%;
  margin: .5rem;
  border: 2px solid #4b4f53;
}

/* Creates the glow effect when hovered over image */
.flex-item:hover {
  border-color: rgb(161, 199, 210);
  border-radius: 5px;
  outline: 0;
  box-shadow: inset 0px 0px 8px var(--blue-accent), 0 0 15px var(--blue-accent)
}

.flex-item p {
  position: absolute;
  left: 0.09px;
  bottom: 18px;
  padding: 13px;
  background-color: rgba(109, 206, 187, 0.8);
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.small-text {
  font-size: 0.65em;
  display: block;
  font-weight: normal;
}

/* mobile responsiveness */
@media screen and (max-width: 1080px) {
header {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-box {
  margin-left: 0px;
}

nav li {
  margin: 0 3px;
}

h1 {
  padding-left: 1%;
  padding-right: 1%;
}

.side-border{
  border-right: none;
  text-decoration: underline 5px solid #6dcebb33;
  margin-right: 0;
  margin-bottom: 1rem;
  flex-basis: 100%;
}

.about-me, .work, .contact-me {
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.contact-me ul {
  flex-direction: column;
}

.contact-me ul li {
  margin-bottom: 10px;
}

.about-me div {
  flex: 1;
  margin-bottom: 1rem;
}

#img-1 {
  max-width: 79.7%;
}

.flex-item {
  flex-basis: 100%;
  max-width: 80%;
}

.blur {
  filter: none;
}

}

